:root {
    --primary-color: #08A6E4;
    --primary-shadow-color: rgba(7, 172, 230, .16);
    --redish-color: #FB3B64;
    --green-color: #55DFB4;
    --black-color: #000000;
    --grey-color: #A5A5A5;
    --grey-light-color: #F7F7F7;
    --white-color: #ffffff;
}
